data/
*.jpg
*.jpeg

*.pt
*.pth
*.ckpt
*.h5

__pycache__/
*.py[cod]
*$py.class
.Python

.ipynb_checkpoints/
*.ipynb

venv/
env/
.venv/
chexpert/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak

!results*/**/*.png
